* {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.container {
    padding: auto !important;
    margin: auto;
}

.container-fluid {
    padding-top: 1px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    border-top: 1px;
    text-align: center;
    background-color: red;
    color: rgb(22, 11, 173);
    z-index: 99999999999;
}
h3{ border-top: 1px;
    text-align: center;
    background-color: rgb(109, 182, 192);
  text-indent: center;
  color: ffffff;

}
body{
	margin:0;
	color:#48507a;
	background:#064747;
	font:600 16px/18px 'Open Sans',sans-serif;
}
.section-heading{
    float:right;
    justify-content:flex-end;
    background:RED;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
